# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Express
package-lock.json

# Sqlite
identifier.sqlite
src/db/network.db

#Ssh2
host_key
host_key.pub