# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Env
backend/.env

# Express
backend/package-lock.json

# Sqlite
backend/identifier.sqlite
backend/src/db/network.db

#Ssh2
backend/host_key
backend/host_key.pub